* {
  margin: 0;
}

.App {
  background-color: #fafafa;
  height: 100vh;
}

.app_header {
  position: sticky;
  top: 0;
  object-fit: contain;
  padding: 10px 20px;
  background-color: white;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app_headerImg {
  width: 150px;
  height: 40px;
  object-fit: contain;
}

.app_posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app_postsRight {
  margin-left: 20px;
}

.app_signup {
  display: flex;
  flex-direction: column;
}